*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, orange,white);
    height: 100vh;
}
